.coin-container{
  padding-top: 12em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: "Inter", sans-serif;

}   
.row-container{
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 90%;
}
.left-row{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: baseline;

}
.right-row{
    width: 45%;
    height: 110%;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
}
.header-item{
    justify-content: center;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.update{
  font-size: 1rem;
  color: rgb(86, 86, 86);
  font-style: italic;
}
.rank{
  background-color: rgb(31, 31, 31);
  width: fit-content;
  color: white;
  padding: 0px;
  font-size: .9rem;
  border-radius: 10px;
  padding-inline:.5em;
  margin-bottom: 1em;
}
.name h3{
  padding: 0;
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
}
.price-selected{
  display: flex;
  width: 50%;
 
}
.price-selected p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2rem;
}
.price-selected p:nth-child(2){
 font-size: .8rem;
 padding-inline-start: 1em;
 padding-top: .4em;
 color: #050f7e;
 font-weight: 600;
}
.item{
    padding: 20px;
    width: 90%;
    display: flex;
    align-items: center;
  }

.variation{
    font-family: "Inter", sans-serif;

    width: 100%;
}
.variation progress{
    
  color: red;
  width: 100%;
  border: none;
  margin: 0;
  outline: none;
  background-color: rgb(71, 71, 71);
}
.alltimerange{
    margin-top: -1em;
    font-size: .8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tooltip-text {
    font-family: "Inter", sans-serif;
    visibility:hidden;
   
    position: absolute;
    top: 30px;
    left: -120%; 
    width: 300px;
    z-index: 2;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }
  
  #fade {
    cursor: pointer;
    opacity: 0;
    transition: opacity .1s;
  }
  
  #delay {
    opacity: 0;
    transition: opacity 0.2s;
    transition-delay: 1s;
  }
  
  .hover-text:hover #fade { opacity: 1; visibility: visible;
  }
  .hover-text:hover #delay { opacity: 1; }
  
  
  .hover-text {
    font-family: "Inter", sans-serif;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .ask{
    top: -3px;
    position: relative;
    text-decoration: dotted;
    background-color: #192733;
    cursor: pointer;
    padding: 5px;
    font-size: .4rem;
    padding-inline: 7px;
    color: white;
    border-radius: 300px;
    line-height: 5px;

  }

  .body-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;

  }
  .info-item{
    padding: 2px;
    width: 100%;
  }
  .info-item:nth-child(1){
    color: red;
  }
  .info-item:nth-child(2){
    color: green;
  }
  #myChart element{
    width: 400px;
  }
  .chart-div{
    width: 100%;
    height: 50%;

  }
.footer-item{
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.porcentage-variation-coin-change{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
 color: white;
}
