body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(255, 253, 253);
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}
:root {
  --main-color: rgb(8, 8, 8);
  --secundary-color: rgba(170, 21, 66, 0.932);
}


