.search-container{
    font-family: "Inter";
    color: rgb(0, 0, 0);
    z-index: 1;
    transition: all .85s ease;
    width: 99vw;
    height: 100vh;
    position: fixed;
    top: 140px;
    left: -2000px;
    background-color: white;
    flex-direction: column;
    align-items: center;
}
.header-coin-search{
    margin: 0;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 3rem;
}
.search-container2{
    display: none;
    z-index: 1;
    transition: all .65s ease;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 120px;
    left: -2000px;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );}
.show_container{
    left: 0px;
}
.exit-container{
    width: 90%;
    color: rgba(157, 22, 22, 0.87);
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.exit-container h2{
    cursor: pointer;
}
.coins-items-2{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coin-2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: first baseline;
    flex-direction: row;
    width: 99%;
}
.querycoin{
    cursor: pointer;
    box-shadow: 0 8px 32px -10px rgba( 31, 38, 135, 0.37 );
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 1em;
    width: fit-content;
    padding: .6em;
    padding-inline: 1em;
    border-radius: 20px;
    font-weight: 800;
    color: black;
}

.querycoin div:nth-child(1){
    margin-left: 1.2em;
}
.querycoin:hover{
    background-color: aliceblue;
}
