.trending-container {
  padding-top: 15em;
  font-family: "Inter", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: auto;
}
.trending-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.title-main-trending {
  color: rgb(0, 0, 0);
  display: flex;
  width: 100%;
  font-size: 3vw;
  align-items: center;
  font-weight: bold;
}
.coins-items{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.coin{
  border-bottom: 1px solid silver;
  width:100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.coin div{
  display: flex;
  align-items: center;
  flex: 1;
  flex-grow: inherit;
  cursor: pointer;
}

.coin-name img{
  padding-inline: 1em;
}
.coin:hover{
  background-color: aliceblue;
}




.coin-low {
  color: rgb(189, 15, 39);
}
.coin-high {
  color: rgb(37, 124, 47);
}
.img-container {
  width: 40%;
}
.teste-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fixed-container{

  
}
.fixed-container:hover{
  background-color: white;
}
.coins-teste {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.popup-container{
  min-width: 100px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 100px;
  top: 200px;
  font-family: "Inter", sans-serif;

}
.popup-added{
  border-left: 5px solid rgba(21, 253, 0, 0.815);
  box-shadow: 0px 2px 20px -2px rgba(0, 0, 0, 0.219);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding: 12px;
  width: 100%;
  color: rgb(0, 0, 0);
  animation: fadeIN 1.4s ;
  background-color: white;
  opacity: 0;
  
}
.popup-have{
  
  border-left: 5px solid rgba(214, 14, 14, 0.815) ;
  box-shadow: 0px 2px 20px -2px rgba(0, 0, 0, 0.219);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding: 12px;
  width: 100%;
  color: rgb(0, 0, 0);
  animation: fadeIN 1.6s ease-in-out;
  background-color: white;
  opacity: 0;
}
.fa-check{
  background-color:rgba(21, 253, 0, 0.815) ;
  padding: 15px;
  margin-right: 1em;
  border-radius: 1000px;
  color: white;
}
.fa-circle-xmark{
    background-color:rgba(214, 14, 14, 0.815) ;
  padding: 15px;
  margin-right: 1em;
  border-radius: 1000px;
  color: white;
}
.buttons-page{
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-page a{
  padding: 1em;
  margin-inline: 1em;
  text-decoration: none;
  color: rgb(49, 49, 49);
  border: 1px solid rgb(160, 160, 160);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 16px -3px rgba(0,0,0,0.1);
}
@keyframes fadeIN{

 0%{
  opacity: 0;
 }
 20%{
  opacity: 1;
 }
 90%{

    opacity: 1;
 }
 100%{
  opacity: 0;
 }


}
@media only screen and (max-width: 882px){
  .coin-low {
    position: absolute;
    left: -10000px;
    color: rgb(189, 15, 39);
  }
  .coin-high {
    position: absolute;
    left: -10000px;
    width: 0px;
    
  }
  .trending-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .coin div:nth-child(2){
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
  
  }
  .coin div:nth-child(3){
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
  
  }
  .coin{
    font-size: .5rem;
  }
  .coin img{
    width: 20%;
  }
}